 .azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.second-bg{
  background-color: azure;
}

.text-align{
  text-align: center;
}
.hedding-size{
    font-size: 32px;
    font-weight: 800;
  }
   main{
    max-width: 1140px;
    margin: 0 auto;
     
   }

   /* skill title */
   .skill-title{
    font-size: 32px;
    font-weight: 900;
   }
   .skill-description{
    font-size: 16px;
    font-weight: 400px;
    opacity: 70%;
   }
   







/* header style */
.head{
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
}
.head-title{
  font-weight: bolder;
  font-size: 28px;
  color: #0D1321;
}
.headerbtn{
  font-size: 20px;
  font-weight: 600px;
  color: #4709e3;
  border-radius: 8px;

}
.hero-banner{
  background-image:url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-bottom: 80px;
}

.btn{
  background-color: #0D1321;
  color: white;
  padding: 24px 21px 24px 21px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700px;
  text-align: center;
  border: none;
}
/* section style-1 */
.web-development-description{
  font-size: 16px;
  font-weight: 400px;
  color: #0D1321;
}


/* coding section */
.web-development{
  margin-bottom: 80px;
}

.work-1{
  display: flex;
  justify-content: space-between;
}
.work-2{
  display: flex;
  justify-content: space-between;
}
.work-3{
  display: flex;
  justify-content: space-between;
}
.section-title-section-title{
  font-size: 24px;
  font-weight: bold;
  color: #0a0e17;
  opacity: 100%;
}
.section-description-section-description{
  font-size: 16px;
  font-weight: 500px;
  color: #0D1321;
  opacity: 70%;
}

/* button style */
.btn-primary{
  background-color: rgb(231, 10, 227);
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  border: none;
}

/* video style */
.vedio{
    width: 50%;
    margin: 0 auto;
    gap: 24px;
}
.description{
  font-size: 16px;
  font-weight: 500px;
  color: #0D1321;
  opacity: 70%;
}
.youtube-vedio{
  margin-top: 100px;
}
.youtube-vedio{
  border-radius: 8px;
}

/* skills style */
.skill{
  margin-bottom: 111px;
  margin-top: 100px;
}
.skill-main{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 50px;
}
.box-1{
  background-color: #efdfdb;
  opacity: 100%;
  border-radius: 16px;
  padding: 20px 30px;
  box-shadow: inset;
}
.box-2{
  background-color: rgb(205, 245, 232);
  opacity: 100%;
  border-radius: 16px;
  padding: 20px 30px;
  box-shadow: inset;
}
.box-3{
  background-color: rgb(206, 240, 172);
  opacity: 100%;
  border-radius: 16px;
  padding: 20px 30px;
  box-shadow: inset;
}

/* another skill style */
.another-skill-title{
  font-size: 32px;
  font-weight: bolder;
  color: #0D1321;
}
.another-skill-description{
  font-size: 16px;
  font-weight: 400px;
  color: #0D1321;
  opacity: 70%;
}
.another-skill-title-p{
  font-size: 24px;
  font-weight: 900px;
  color: #0D1321;
}
/* another-skill-section */
.another-skill-1{
  display: flex;
  border: 3px solid wheat;
  padding: 30px 15px 30px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  
}
.another-skill-2{
  display: flex;
  border: 3px solid wheat;
  padding:30px 15px 30px 15px ;
  border-radius:10px ;
  margin-bottom: 20px;
  
}

.another-skill-3{
  display: flex;
  border: 3px solid wheat;
  padding: 30px 15px 30px 15px;
  border-radius: 10px;
}